.fascinate-regular {
  font-family: "Fascinate", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1 {
  padding: 35px;
  text-align: center;
  background-color: sienna ;
}
h2,h3 {
  text-align: center;
}
body {
  background-color: rosybrown;
  font-family:Arial, Helvetica, sans-serif
}
header {
 border: 1px solid black;
padding: 35px;
text-align: center;
margin-bottom: 10px;
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
background-image: linear-gradient(to right, #f0f0f0, #e0e0e0);
opacity: 0.7
}

nav {
    max-width: 100%;
    margin: 0 auto;
    background-color: goldenrod;
}

ul {
    padding: 5px;
    text-align: center;
}
li {
    list-style-type: none;
    color: navy;
    display: inline-block;
    font-family: Georgia, serif;
   margin: 0 10px;
   padding: 5px 10px;
    
}
a {
    color: burlywood
}
.chapter {
    background-color: #FFFAFA;
    padding: 10px;
    border: 5px solid #000000;
    margin-top: 10px;
    font-family: Tahoma, sans-serif;
}

div h3 {
    text-align: center;
}
footer {
    background-color: black
    color: antiquewhite;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
}

img {
    display: block;
    max-width: 60%;
    margin: 0 auto;
}
form {
  background-color: #f9f7f1; 
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc; 
  width: 75%; 
  margin: 0 auto;
  
fieldset {
  border: none;
  padding: 0;
}
legend {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 15px;
}
label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}
}
button {
  margin-top: 20px;
  background-color: #5a3e36;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #7a564f;
}

h2 {
  text-align: center;
}
table {
  width: 78%; 
  margin: 0 auto; 
  margin-bottom: 30px; 
  background-color: #fdfdfd;
  border: 1px solid #ccc; 
  border-radius: 4px;
}

th, td {
  padding: 12px; 
  border: 1px solid #ccc;
  text-align: left; 
}

th {
  background-color: #f5f5f5;
  font-weight: bold; 
  color: #5a3e36; 
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; 
   max-width: 600px; 
  margin: 0 auto;
    }

    #gallery img {
        width: 30%;
        height: auto;
    }

@media (max-width: 600px) {
body {
  font-size: 16px;
  padding: 10px;
}
li {
  display: block; 
  margin: 10px 0; 
}
nav {
  text-align: center;
}
header, .chapter, footer {
  padding: 10px;
}
}
