h1 {
  padding: 35px;
  text-align: center;
  background-color: sienna ;
}
h2,h3 {
  text-align: center;
}
body {
  background-color: rosybrown;
  font-family:Arial, Helvetica, sans-serif
}
header {
    border: 1px solid black;
padding: 35px;
text-align: center;
background-color: snow;
margin-bottom: 10px;
}

nav {
    max-width: 100%;
    margin: 0 auto;
    background-color: goldenrod;
}

ul {
    padding: 5px;
    text-align: center;
}
li {
    list-style-type: none;
    color: navy;
    display: inline-block;
    font-family: Georgia, serif;
   margin: 0 10px;
   padding: 5px 10px;
    
}
a {
    color: burlywood
}
div {
    background-color: antiquewhite;
    padding: 10px;
    border: 5px solid #000000;
    margin-top: 10px;
    font-family:Arial, Helvetica, sans-serif;
}

div h3 {
    text-align: center;
}
footer {
    background-color: black
    color: antiquewhite;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
form {
  background-color: #f9f7f1; 
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ccc; 
  width: 75%; 
  margin: 0 auto;
}
fieldset {
  border: none;
  padding: 0;
}
legend {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 15px;
}
label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}
button {
  margin-top: 20px;
  background-color: #5a3e36;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #7a564f;
}


