.blog-preview {
display: flex; /* activates Flexbox */
  flex-direction: row; /* aligns items in a row (default, but explicit is good) */
  align-items: center; /* vertically centers items within the row */
  gap: 20px; /* adds space between items */
}
.date {

}

.post-title {

}

.post-preview {

}

.read-more {

}